@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');

body{
    background-color: rgb(35, 31, 31);
    color: white;
    font-family: 'Playfair Display';
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: #8B32B7;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid #8B32B7;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: #8B32B7;
    color: white;
}

h1 {
    font-weight: 200px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
}

span{
    color: #8B32B7;
}

p{
    line-height: 20px;
    max-width: 500px;
}

img{
    width: 600px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form[type="submit"]{
    height: 50px;
    
    background-color: #8B32B7;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height:20px ;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}